body{
    user-select: none;
    background-color:#f2f2f2 !important;
}
.cards-cont{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.card-custom{
    width: 250px;
    background: #fff;
    
    padding: 20px;
    border-radius: 5px;
    
    margin-bottom: 10px;
}

.img-cont{
    display: flex;
    justify-content: center;
    padding: 10px 0px;
}
.img{
background-color: #ebebe0;

}
.mission-name{
font-weight: bold;
color:#3c44a1;
font-size: 18px;
}
.mission-ids{
font-weight: bold;

}
.launch-year{
font-weight: bold;

}

.successful-launch{
font-weight: bold;

}
.successful-landing{
font-weight: bold;

}

.filter-divs div{
    display: flex;
    justify-content: space-between;
    margin: 10px 0px;
    
}
.filter-divs div span{
    cursor: pointer;
    padding:0px 10px;
    background-color: #c5e09b;
    border-radius: 10px;
    font-weight: 500;
    
}

.filter-divs div:last-child{
    justify-content: flex-start;
    
}
.filter-divs div span:hover{
    background-color: #76af1e;
}
.filter-head{
    border-bottom: 1px solid grey;
    text-align: center;
    width: 80%;
    margin:auto;
}
.filter-cont{
    background: #fff;
    padding: 10px;
}
.mission-ids ul li{
    color:#3c44a1;
    font-weight: lighter;
}
.filter-wrap{
    padding:0px 10px;
}

.filter-launch-cont{
    padding: 10px 0px;
}
.filter-launch-cont div{
    display:flex;
    justify-content: space-between;
}


.filter-launch-cont span{
    cursor: pointer;
    padding:0px 10px;
    background-color: #c5e09b;
    border-radius: 10px;
    font-weight: 500;

}

.filter-launch-cont span:hover{
    background-color: #76af1e;
}

@media only screen and (max-width: 450px){
    .card-custom{
        width: 100% !important;
        margin:10px 0px;
        padding: 20px 50px;
    }
    .filter-wrap{
            padding:0px 40px;
        }
    .img-cont img{
        width: 100% !important;
        height: 100% !important;
    }


}